.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgb(138, 150, 147) 0%, #a9a9a9 100%);
  overflow: hidden;
  position: relative;
}
*{
  text-decoration: none;
}

/* Abstract Aesthetic Blobs */
.abstract-circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
  z-index: 1;
}
.one {
  width: 400px;
  height: 400px;
  background: rgb(225, 226, 227);
  top: -100px;
  right: -100px;
  opacity: 0.3;
}
.two {
  width: 300px;
  height: 300px;
  background: rgb(171, 141, 85);
  bottom: -50px;
  left: -50px;
  opacity: 0.2;
}

/* The Glassmorphism Card */
.login-card {
  width: 50%;
  max-width: 350px;
  background: rgba(222, 214, 214, 0.05); /* Very transparent white */
  backdrop-filter: blur(15px); /* This creates the "Frosted Glass" effect */
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 40px;
  z-index: 10;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
  color: white;
}



.login-header {
  text-align: center;
  margin-bottom: 30px;
}
.login-header .abr {
  font-size: 3rem;
  margin-bottom: 5px;
  cursor: pointer;
}
.orange-line {
  height: 3px;
  width: 50px;
  background: var(--orange-main);
  margin: 10px auto;
}

.input-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.input-field span {
  font-size: 13px;
  margin-bottom: 8px;
  color: var(--dark-main);
  font-weight: 600;
  letter-spacing: 1px;
}
.input-field input {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px;
  border-radius: 8px;
  color: white;
  outline: none;
  transition: border 0.3s;
}
.input-field input:focus {
  border-color: rgb(179, 172, 172);
  color: var(--dark-main);
  background-color: rgb(188, 190, 192);
}
.form-help{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: var(--dark-main);
}
.f-pass{
    font-style: italic;
  color: black;
}

.portal-btn {
  width: 100%;
  padding: 15px;
  background: var(--orange-main);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s;
}
.portal-btn:hover {
  background: white;
  transform: translateY(-2px);
  color: var(--orange-main);
}

.login-footer {
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
  opacity: 0.6;
}